<p> Contact Me </p>

<div class="social">
	<p class="title"> Social Networks </p>

	<a class="ascii" href="mailto:">
		<pre>
       ..--""|
       | .---'
 (\-.--| |-----------.
/ \) \ | |            \
|:.  | |o| E - M A I L |
|:.  |_  __   __ _  __ /
 `""""`""""|=`|"""""""`
           |=_|
		</pre>
		<p> Email - r2awes@gmail.com</p>
	</a>

	<a class="ascii" href="twitter" >
		<pre>
  .--.  
 /( @ >    ,-. 
/ ' .'--._/  /
:   ,    , .'
'. (___.'_/
   ((-((-''
		</pre>

		<p> Twitter - @mch_webdesign</p>
	</a>

	<a href="http://linkedin.com" class="ascii">
		<pre>
 ___
|___|
 ___   ______
|   | |   _   \
|   | |  | |  |
|   | |  | |  |
|___| |__| |__|
		</pre>

		<p> LinkedIn </p>
	</a>
	<!--<a class="ascii" href="tel:">
		<pre>
   ____________  
 /   ,,____,,   \:.
 |__| [][][] |__|:  :
   /  [][][]  \   :  :		Phone
  /   [][][]   \   ..
 /    [][][]    \   
|________________|
		</pre>
	</a>-->

</div>